.last {
    background-color: black;
    padding: 5px;
    p {
        color: white;
    }
    h3 {
        color: white;
    }
    ul, a {
        color: white;
        font-weight: bold;
    }
    .name {
        margin-top: 50px;
    }
    .form-control {
        margin-top: 5px;
    }
    .btn-primary {
        margin-top: 5px;
        margin-bottom: 20px;
    }
}