/*nav {
    background-color: black;    
}*/
/*.background-image {
    background-image: url("14.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 575px;
    margin-top: 25px;
}*/
/*.container-fluid {
    padding: 15px;
    background-color: lightgrey;
}*/
.col-md-6 {
    text-align: left;
}
.col-md-4 {
    padding: 15px;
}
a {
    color: #FFFFFF;
    font-size: 12px;
    border: 0;
}
h1 {
    margin-top: 165px;
    text-align: center;
    color: #FFFFFF;
}
h2 {
    text-align: left;
    color: #FFFFFF;
}
h4 {
    text-align: center;
    color: #FFFFFF;
}
h5 {
    color: black;
}
.rot {
    text-align: center;
    color: red;
}
.ski {
    margin-top: 15px;
}
.name {
    color: black;
    text-align: left;
}
.size {
    font-size: 15px;
}
/*.button {
    border-style: solid;
    background-color: black;
    color: red;
}*/
/*.edu {
    margin-top: 60px;
}
.exp {
    margin-top: 380px;
}*/
/*.fro {
    margin-top: 135px;
}*/
/*.gr8 {
    margin-top: 135px;
}*/
/*.uni {
    margin-top: 140px;
}*/
/*.sma {
    margin-top: 180px;
}*/
/*.usn {
    margin-top: 180px;
}*/
.bottom {
    color: white;
}
.progress {
    border-style: solid;
}
.btn-primary {
    margin-top: 5px;
    margin-bottom: 20px;
}
.con {
    margin-top: 90px;
}
.ilo {
    margin-top: 50px;
}
.soc {
    margin-left: 25px;
}
/*.wha {
    font-size: 14pt;
}*/
/*.mys {
    font-size: 12pt;
}*/
/*.myst {
    margin-left: 85px;
}*/
.timer {
    font-size: 14pt;
}
.timed {
    font-size: 14pt;
}
.times {
    font-size: 14pt;
}
/*.fa-forumbee {
    margin-top: 25px;
}*/
/*.fa-eye {
    margin-top: 20px;
}*/
/*.tex {
    margin-bottom: 10px;
}*/
/*.cle {
    margin-bottom: 10px;
}*/
/*.fa-slideshare {
    margin-top: 90px;
}*/
/*.sli {
    margin-bottom: 10px;
}*/
/*.fa-desktop {
    margin-top: 25px;
}*/
/*.res {
    margin-bottom: 10px;
}*/
/*.fa-wrench {
    margin-top: 90px;
}*/
/*.eas {
    margin-bottom: 10px;
}
.fa-ambulance {
    margin-top: 25px;
}
.sup {
    margin-bottom: 10px
}*/
/*How to style your unorganized lists*/

ul {
    font-weight: bold;
}
textarea, input {
    color: black;
}
.name {
    margin-top: 200px;
}
.form-control {
    margin-top: 5px;
}
textarea {
    width: 50%;
    height: 50%;
}