nav {
    background-image: url("../img/14.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 575px;
}
.container {
    padding: 15px;
}
p {
    margin: auto;
}
a {
    color: #FFFFFF;
    font-size: 12px;
    border: 0;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
.h1 {
    margin-top: 225px;
    color: #FFFFFF
}
h2 {
    text-align: left;
    color: #FFFFFF;
}
h4 {
    text-align: center;
    color: #FFFFFF;
}
.name {
    color: black;
    text-align: left;
}
.size {
    font-size: 12px;
}
.font {
    font-size: 15px;
}
.button {
    border-style: solid;
    background-color: black;
    color: red;
}

.bottom {
    color: white;
}
.progress {
    border-style: solid;
}
/*How to style your unorganized lists*/

ul {
    font-weight: bold;
}

textarea, input {
    color:black;
}
form {
    margin-top: 200px;
}
textarea {
    width: 50%;
    height: 50%;
}

