nav {
    height: 80px;
    background-color: lightgrey;
}
body {
    font-family: Arial;
    color: #555555;
}
#header {
    color: black;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 18px;
    margin-top: 40px;
}
#footer {
    padding: 12px;
}
th {
    height: 40px;
    font-size: 14px;
    text-align: left;
}
tr:first-child {
    width: 100px;
    font-weight: bold;
}
tr:hover {
    background-color: #FEFFDB;
}
div .logo {
    float: left;
    height: 30px;
}
.recipe {
    float: right;
    border-color: #8ABD2B;
    background-color: #C8F279;
    height: 30px;
    border: 1px solid;
    padding: 10px;
}
img {
    float: left;
    width: 100px;
    height: 75px;
}
.clear {
    clear: both;
}
.Recipelist {
    border: solid thin;
    border-color: #444444;
    background-color: #FEFFDB;
    width: 400px;
    height: 120px;
    padding: 15px;
    border-radius: 10px / 10px;
}