#owl-demo .atom{
	margin: 3px;
	p {
		display: block;
		width: 75px;
		text-align: center;
	}
}
#owl-demo {
	display: block;
	// width: auto;
	// height: auto;
	padding-top: 10px;
}
.atom img {
	width: 75px;
	height: 75px;
}
.owl-demo {
	background-color: lightgrey;
}
