.stats {
    padding: 5px 0;
    background-color: lightgrey;
    .myst {
        margin-left: 7px;
    }
    .timer {
        font-size: 1em;
    }
    .timed {
        font-size: 1em;
    }
    .times {
        font-size: 1em;
    }
    .size {
        font-size: 1em;
    }
}