.whaticando {
    border: thin solid red;
    padding: 10px 0;
    .wha {
        font-size: 1.5em;
    }
    .mys {
        font-size: 1em;
    }
    .fa-forumbee {
        margin-top: 20px;
        border: thin solid red;
    }
    .tex {
        border: thin solid red;
        margin-bottom: 10px;
    }
    .fa-eye {
        border: thin solid red;
        margin-top: 20px;
    }
    .cle {
        border: thin solid red;
        margin-bottom: 10px;
    }
    .fa-slideshare {
    	border: thin solid red;
        margin-top: 90px;
    }
}