.whaticando {
    padding: 10px 0;
    .wha {
        font-size: 1.5em;
    }
    .mys {
        font-size: 1em;
    }
    .fa-forumbee {
        margin-top: 20px;
    }
    .tex {
        margin-bottom: 10px;
    }
    .fa-eye {
        margin-top: 20px;
    }
    .cle {
        margin-bottom: 10px;
    }
    .fa-slideshare {
        margin-top: 90px;
    }
    .sli {
        margin-bottom: 10px;
    }
    .fa-desktop {
        margin-top: 20px;
    }
    .res {
        margin-bottom: 10px;
    }
    .fa-wrench {
        margin-top: 87px;
    }
    .eas {
        margin-top: 1px;
        margin-bottom: 7px;
    }
    .fa-ambulance {
        margin-top: 23px;
    }
    .sup {
        margin-bottom: 10px
    }
    .rot {
        text-align: center;
        color: red;
    }
    .col-md-4 {
        padding: 15px;
    }
}