/*Beautiful text jargon*/
#beautiful {
	// border: solid thin red;
	h2 {
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
	padding-top: 50px;
	color: #506A85;
	}
	
	p {
	text-align: center;
	height: auto;
	width: 525px;
	margin: auto;
	padding: 25px 0;
	color: #506A85;

	}
}