/*grandmotel image container*/
.grandmotel {
	text-align: center;
/*	border: solid thin black;*/
	background-color: #f2f5f7;
	.grandMotel {
		bottom-border: 50px;
		margin-bottom: 50px;
		background-color: white;
	}
	.graphart {
		bottom-border: 50px;
		margin-bottom: 50px;
		background-color: white;
	}
	.image {
		height: 300px;
		width: 554px;
	}
}
// .owl-carousel lower images
#owl-demo .item {
	margin: 3px;
	display: block;
}
