/*Jumbotron container*/
.jumbotron {
    text-align: center;
    background-image: url(../img/background.png);
    color: white;
    height: 600px;
    h1 {
        margin-top: 100px;
    }
    p {
    	width: 80%;
    	margin: auto;
        color: #a3b1bf
    }
}
.btn-primary {
    margin-top: 35px;
    background-color: #00bc9c;
}