/*Navbar REEN megamenu*/
.yamm .nav {
	position: static;
}
.navbar-header ul {
	// border: solid thin red;
}
.fa-search {
	display: block;
	padding-left: 225px;
}
.btn-submit {
	background-color: #1ABB9C;
	.fa-angle-right {
		color: white;
	}
}
.dropdown-menu {
	background-color: #F5F7FA;
	padding: 20px;
}
.circled li {
	list-style-type: circle;
	// color: #1ABB9C;
	margin-left: -20px;
}
.navbar .btn-navbar {
	// display: none;
	float: right;
	color: #fff;
	background-color: #ededed;
}
// @media (max-width: 1024px) {
// .btn.responsive-menu {
// 	display: table;
// 	vertical-align: middle;
// }
// }
// ul.circled li:before {
// 	font-family: fontello-circle;
// 	border: solid thin red;
// }
