/*Contact and Social Top-Header*/
#header {
	/*border: solid thin black;*/
	padding: 10px 0;
	background-color: #f5f7fa;
}
.contact li {
	float: left;
	word-spacing: 7px;
	margin-left: 10px;
	list-style-type: none;
}
.social li {
	float: right;
	margin-right: 20px;
	list-style-type: none;
}