/*Navbar REEN megamenu*/
.yamm .nav {
	position: static;
}
.navbar-header ul {
	list-style-type: none;
}
.fa-search {
	display: block;
	float: right;
	margin-left: 225px;
}
.dropdown-menu {
	top: auto;
	left: auto;
	position: absolute;
}
.btn-submit {
	background-color: #1ABB9C;
	.fa-angle-right {
		color: white;
	}
}
.dropdown-menu {
	background-color: #F5F7FA;
}
