/*info and social navbar-header*/
.info li {
	float: left;
	word-spacing: 7px;
	margin-left: 10px;
	list-style-type: none;
}
.social li {
	float: right;
	margin-right: 20px;
	list-style-type: none;
}
.navbar-header {
	background-color: #f5f7fa;
}