#work {
	/*border: solid thin black;*/
	background-color: white;
	h3 {
		text-align: center;
		margin-top: 100px;
		padding-top: 100px;
	}
	p {
		text-align: center;
		width: 490px;
		margin: auto;
	}
	.btn-primary {
		margin-bottom: 100px;
	}
}