nav {
    background-image: url("wallpaper-258638.jpg");
    background-repeat: no-repeat;
    background-size: 99.9%;
}
.container-fluid {
    text-align: right;
    color: white;
    margin-top: -45px;
    word-spacing: 10px;
}
a {
    color: #FFFFFF;
    font-size: 12px;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
h2 {
    text-align: left;
    color: #FFFFFF;
}
h4 {
    text-align: center;
    color: #FFFFFF;
}
.name {
	color: black;
	text-align: left;
}
.prof {
	color: black;
	text-align: left;
}