.contact li {
	float: left;
	margin-left: 20px;
}
.social li {
	float: right;
	margin-right: 20px;
}
.jumbotron {
	text-align: center;
	background-image: url(../img/background.png);
	color: white;
	height: 600px;
}
h1 {
	margin-top: 125px;
}
.navbar {
	background-color: lightgrey;
}
.btn-primary {
	background-color: lightgreen;
	border-color: none;
}
.container {
	text-align: center;
}
.container-fluid {
	background-color: lightgrey;
}
.granMotel, .graphart, p, h2, h3 {
	text-align: center;
}
.granMotel {
	background-color: white;
	margin-top: -19px;
}
.graphart {
	background-color: white;
	margin-top: -19px;
}
